<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_3450_final_design_project.Properties.Settings.pldataConnectionString"
            connectionString="server=localhost;user id=root;database=pldata"
            providerName="MySql.Data.MySqlClient" />
        <add name="_3450_final_design_project.Properties.Settings.pldataConnectionString1"
            connectionString="server=localhost;user id=root;password=Starsocf88??;database=pldata"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>